# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.iml

### Example user template template
### Example user template
#.idea/dataSources.local.xml
#.idea/inspectionProfiles/
#.idea/workspace.xml
